<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Btnguo.png</string>
            <key>size</key>
            <string>{148,1658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbdfb25a9d2691afc9b63e37fab0058e$</string>
            <key>textureFileName</key>
            <string>Btnguo.png</string>
        </dict>
    </dict>
</plist>
