<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_hu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,360}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,54},{340,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{328,346}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,62},{328,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,238},{222,214}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,144},{222,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1726},{198,198}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,145},{198,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{198,198}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,144},{198,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{198,198}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,143},{198,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1526},{198,200}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,140},{198,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1726},{190,198}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,136},{190,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{316,336}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{316,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{306,322}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1314},{284,210}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,150},{284,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,454},{286,240}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,122},{286,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1028},{284,248}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,116},{284,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,742},{284,254}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,115},{284,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{290,286}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,110},{290,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{234,232}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,130},{234,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hu.png</string>
            <key>size</key>
            <string>{598,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821d98a6b2fa9ddce653e489cc155a8c$</string>
            <key>textureFileName</key>
            <string>hu.png</string>
        </dict>
    </dict>
</plist>
