<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_qgh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,228},{22,18}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,239},{22,18}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,264},{70,68}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,213},{70,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,230},{286,266}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,90},{286,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{292,278}}</string>
                <key>offset</key>
                <string>{13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,84},{292,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{298,288}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,77},{298,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{306,228}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,136},{306,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{310,226}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,134},{310,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,224}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,132},{316,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,292},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,184},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,264},{170,170}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,163},{170,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{256,252}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,108},{256,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{258,256}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,105},{258,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{264,260}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,103},{264,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,260},{238,234}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,120},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,260},{256,240}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,113},{256,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_qgh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,232},{280,256}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,96},{280,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangganghu.png</string>
            <key>size</key>
            <string>{2020,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34e43b84b9db7e6e9908e0c5ffaf7b54$</string>
            <key>textureFileName</key>
            <string>qiangganghu.png</string>
        </dict>
    </dict>
</plist>
