<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_sanjin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,520},{126,116}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,165},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,310},{148,134}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,165},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{170,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,182},{170,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{174,128}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,185},{174,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,268},{172,118}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,188},{172,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{166,114}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,183},{166,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,446},{156,138}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,176},{156,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{146,162}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,174},{146,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,170},{140,138}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,170},{140,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,586},{148,140}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,173},{148,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,638},{154,140}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,172},{154,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{162,128}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,182},{162,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{176,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,188},{176,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{168,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,188},{168,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,388},{162,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,186},{162,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,136}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,182},{184,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanjin.png</string>
            <key>size</key>
            <string>{476,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc4bfdcc02df9f866e8f2ff9c8506f2$</string>
            <key>textureFileName</key>
            <string>sanjin.png</string>
        </dict>
    </dict>
</plist>
