<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_sanjindao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,280},{192,240}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,108},{192,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{222,246}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,114},{222,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{236,252}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,116},{236,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,270},{232,248}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,116},{232,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,256},{232,244}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,117},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,270},{232,244}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,116},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,270},{232,244}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,116},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,256},{230,244}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,116},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{248,266}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,104},{248,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,276}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,112},{266,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{248,272}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,117},{248,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{254,266}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,116},{254,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{250,258}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,117},{250,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{238,250}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,119},{238,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{236,254}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,116},{236,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanjindao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,262},{238,254}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,117},{238,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanjindao.png</string>
            <key>size</key>
            <string>{1994,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea3877fb3ebb8b70f70c563d9ff5cfd$</string>
            <key>textureFileName</key>
            <string>sanjindao.png</string>
        </dict>
    </dict>
</plist>
