<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_sanyou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{292,278}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,155},{292,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,348},{414,350}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,67},{414,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{346,248}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{346,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1562},{312,232}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{312,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1022},{284,218}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,125},{284,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1308},{252,210}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,133},{252,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1578},{248,210}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,133},{248,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1578},{248,210}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,133},{248,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,360}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{466,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{454,344}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,71},{454,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{440,322}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,78},{440,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{430,322}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,90},{430,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,700},{412,320}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,91},{412,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{382,304}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,95},{382,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1022},{362,286}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,99},{362,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_sanyou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1310},{352,266}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,99},{352,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanyou.png</string>
            <key>size</key>
            <string>{974,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fcbba123992989732a91809d5ba7b5e$</string>
            <key>textureFileName</key>
            <string>sanyou.png</string>
        </dict>
    </dict>
</plist>
