<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_youjin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{126,116}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,165},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{148,134}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,165},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{174,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,182},{174,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{178,128}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,185},{178,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{140,138}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,170},{140,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,142}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,172},{148,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{156,140}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,173},{156,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{162,130}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,182},{162,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{176,132}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,182},{176,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{170,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,184},{170,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{172,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,186},{172,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_youjin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{184,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,182},{184,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youjin.png</string>
            <key>size</key>
            <string>{146,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70cfdcbc3bde2738c1f7f265d328b193$</string>
            <key>textureFileName</key>
            <string>youjin.png</string>
        </dict>
    </dict>
</plist>
