<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_chi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,314}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,68},{348,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{336,304}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{336,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1302},{136,124}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,191},{136,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1546},{140,130}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,189},{140,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1440},{114,104}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{114,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1440},{114,104}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{114,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1440},{114,104}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{114,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1440},{114,104}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{114,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{324,294}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{324,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{312,284}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,85},{312,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{192,186}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,149},{192,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{188,182}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,151},{188,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{180,174}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,155},{180,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{174,160}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,159},{174,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1688},{138,134}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,176},{138,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_chi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1850},{144,140}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,173},{144,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chi.png</string>
            <key>size</key>
            <string>{324,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:380cfb341501d787166e1c3a708342e7$</string>
            <key>textureFileName</key>
            <string>chi.png</string>
        </dict>
    </dict>
</plist>
