<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_gang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,346}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{420,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{406,336}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{406,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1856},{140,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,186},{140,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{142,134}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,184},{142,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1856},{138,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{138,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1856},{138,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{138,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1856},{138,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{138,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1856},{138,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{138,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{392,324}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{392,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{378,312}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,78},{378,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1542},{200,174}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,156},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{216,180}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{216,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1328},{212,180}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,151},{212,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{208,174}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,154},{208,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1718},{168,136}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,172},{168,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_gang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{176,144}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,167},{176,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gang.png</string>
            <key>size</key>
            <string>{424,1989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d5812309042d28d1f827df2a4994db0$</string>
            <key>textureFileName</key>
            <string>gang.png</string>
        </dict>
    </dict>
</plist>
