<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_peng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,312}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{360,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{348,302}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{348,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,294},{140,126}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,182},{140,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{144,134}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,178},{144,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{120,104}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{120,104}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{120,104}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{120,104}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{336,290}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,77},{336,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{324,280}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,83},{324,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,436},{164,146}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,163},{164,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1114},{180,160}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,156},{180,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,932},{180,160}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,156},{180,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,754},{176,154}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,159},{176,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,148},{144,130}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,175},{144,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_peng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,602},{150,136}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,170},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>peng.png</string>
            <key>size</key>
            <string>{500,1300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea69cbd3fbd62a6ee2968f94739f2e1$</string>
            <key>textureFileName</key>
            <string>peng.png</string>
        </dict>
    </dict>
</plist>
