<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_shuangyou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1834},{194,70}}</string>
                <key>offset</key>
                <string>{-58,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,223},{194,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{336,272}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,115},{336,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{278,212}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{278,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1050},{336,220}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,136},{336,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,702},{346,246}}</string>
                <key>offset</key>
                <string>{41,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,108},{346,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{258,190}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,162},{258,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1622},{278,210}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,136},{278,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1834},{252,186}}</string>
                <key>offset</key>
                <string>{47,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,126},{252,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{330,272}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,115},{330,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{342,272}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,115},{342,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{342,272}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,115},{342,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,272}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,115},{346,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,350},{350,260}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,110},{350,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,256}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,108},{346,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{300,238}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,118},{300,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>img_shuangyou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1388},{268,232}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,124},{268,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuangyou.png</string>
            <key>size</key>
            <string>{608,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfdeedfab2b81d2c357fe1b55b45ed57$</string>
            <key>textureFileName</key>
            <string>shuangyou.png</string>
        </dict>
    </dict>
</plist>
