<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>four_mj_2_down_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,57},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>four_mj_2_hand_b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>four_mj_2_hand_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>four_mj_2_hand_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangup.png</string>
            <key>size</key>
            <string>{78,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c398804e509457d812a7d1bf40394c59$</string>
            <key>textureFileName</key>
            <string>majiangup.png</string>
        </dict>
    </dict>
</plist>
